In [1]:
train_file_path=r"D:\Datascience_Projects\ML_Credit_card_default_predictions\credit\artifact\data_ingestion\2022-08-03-22-30-46\ingested_data\train\UCI_Credit_Card.csv"
test_file_path=r"D:\Datascience_Projects\ML_Credit_card_default_predictions\credit\artifact\data_ingestion\2022-08-03-22-30-46\ingested_data\test\UCI_Credit_Card.csv"

In [2]:
import pandas as pd
train_df=pd.read_csv(train_file_path)
test_df=pd.read_csv(test_file_path)

In [3]:
train_df.shape

(24000, 25)

In [4]:
test_df.shape

(6000, 25)

In [6]:
print(train_df["default.payment.next.month"].value_counts()/train_df["default.payment.next.month"].value_counts().sum()*100)

0    77.879167
1    22.120833
Name: default.payment.next.month, dtype: float64

In [7]:
print(test_df["default.payment.next.month"].value_counts()/test_df["default.payment.next.month"].value_counts().sum()*100)

0    77.883333
1    22.116667
Name: default.payment.next.month, dtype: float64

In [20]:
col=list(train_df.columns)

In [17]:
d_type=list(train_df.dtypes)

In [21]:
data_type=list(map(lambda x:str(x).replace("dtype(",""),d_type))

In [25]:
schema=dict(zip(col,data_type))

In [23]:
from credit.util import write_yaml_file

In [24]:
import os
file_dir="D:\Datascience_Projects\ML_Credit_card_default_predictions\config"
file_name="schema.yaml"
file_path =os.path.join(file_dir,file_name)
file_path

'D:\\Datascience_Projects\\ML_Credit_card_default_predictions\\config\\schema.yaml'

In [26]:
write_yaml_file(file_path=file_path,data=schema)

In [28]:
from credit.util import read_yaml_file
schema_dict=read_yaml_file('D:\\Datascience_Projects\\ML_Credit_card_default_predictions\\config\\schema.yaml')

In [30]:
schema_dict["columns"]

{'AGE': 'int64',
 'BILL_AMT1': 'float64',
 'BILL_AMT2': 'float64',
 'BILL_AMT3': 'float64',
 'BILL_AMT4': 'float64',
 'BILL_AMT5': 'float64',
 'BILL_AMT6': 'float64',
 'EDUCATION': 'int64',
 'ID': 'int64',
 'LIMIT_BAL': 'float64',
 'MARRIAGE': 'int64',
 'PAY_0': 'int64',
 'PAY_2': 'int64',
 'PAY_3': 'int64',
 'PAY_4': 'int64',
 'PAY_5': 'int64',
 'PAY_6': 'int64',
 'PAY_AMT1': 'float64',
 'PAY_AMT2': 'float64',
 'PAY_AMT3': 'float64',
 'PAY_AMT4': 'float64',
 'PAY_AMT5': 'float64',
 'PAY_AMT6': 'float64',
 'SEX': 'int64',
 'default.payment.next.month': 'int64'}

In [1]:
json_file=r"D:/Datascience_Projects/ML_project_1/housing/artifact/data_validation/2022-07-27-19-13-15/report.json"
import json

In [4]:
with open(json_file) as json_obj:
    a=json.load(json_obj)

In [10]:
a['data_drift']['data']['metrics']['dataset_drift']

False

In [1]:
from credit.entity.default_predictor import CreditData

In [2]:
credit_data= CreditData(2157,290000.0,2,1,2,25,0,0,0,0,0,0,305823.0,303701.0,296384.0,248801.0,241983.0,230925.0,15000.0,10500.0,10000.0,15000.0,7844.0,23333.0)

In [3]:
credit_data.get_default_data_as_dict()

{'ID': [2157],
 'LIMIT_BAL': [290000.0],
 'SEX': [2],
 'EDUCATION': [1],
 'MARRIAGE': [2],
 'AGE': [25],
 'PAY_0': [0],
 'PAY_2': [0],
 'PAY_3': [0],
 'PAY_4': [0],
 'PAY_5': [0],
 'PAY_6': [0],
 'BILL_AMT1': [305823.0],
 'BILL_AMT2': [303701.0],
 'BILL_AMT3': [296384.0],
 'BILL_AMT4': [248801.0],
 'BILL_AMT5': [241983.0],
 'BILL_AMT6': [230925.0],
 'PAY_AMT1': [15000.0],
 'PAY_AMT2': [10500.0],
 'PAY_AMT3': [10000.0],
 'PAY_AMT4': [15000.0],
 'PAY_AMT5': [7844.0],
 'PAY_AMT6': [23333.0],
 'default.payment.next.month': [None]}

In [4]:
df =credit_data.get_default_input_dataframe()

In [5]:
from credit.entity.default_predictor import DefaultPredictor
model_path=r"D:\Datascience_Projects\ML_Credit_card_default_predictions\saved_models"
default_predictor=DefaultPredictor(model_dir=model_path)

In [6]:
default_predictor.get_latest_model_path()

'D:\\Datascience_Projects\\ML_Credit_card_default_predictions\\saved_models\\20220807142621\\model.pkl'

In [7]:
default_predictor.predict(df)

0.0

In [8]:
dict1=CreditData(22281,220000.0,2,1,2,29,0,0,0,0,0,0,206879.0,211037.0,215139.0,218513.0,131660.0,134346.0,9100.0,9000.0,7887.0,4800.0,4900.0,6000.0).get_default_input_dataframe()
dict1

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,22281,220000.0,2,1,2,29,0,0,0,0,...,218513.0,131660.0,134346.0,9100.0,9000.0,7887.0,4800.0,4900.0,6000.0,None

In [9]:
default_predictor.predict(dict1)

0.0

In [11]:
df2=CreditData(4103,240000.0,2,1,2,36,-1,-1,2,0,-1,2,5367.0,6959.0,6649.0,5149.0,13750.0,5777.0,6959.0,15.0,0.0,7013.0,0.0,726.0).get_default_input_dataframe()
df2

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,4103,240000.0,2,1,2,36,-1,-1,2,0,...,5149.0,13750.0,5777.0,6959.0,15.0,0.0,7013.0,0.0,726.0,None

In [12]:
default_predictor.predict(df2)

0.0